<!DOCTYPE html>
<html>
<head>
	<title>Accretion</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfw23F8CExi1KgxUyJq13dy" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		body{
			padding: 0px;
			margin: 0px;
		}
		.edit{
			font-family: "Comic Sans MS", "Comic Sans";
			color: white;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #23F8CE; padding-top: 0px;">
		<div class="container">
			<div class="container">
				<h1 class="edit">Accretion</h1>
			</div>
		</div>
	</nav>
</body>
</html>